@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-4">Bienvenido!!!</h1>
    <p class="lead">Monografico, Tarea 8</p>
    <hr class="my-4">
    <p>Reyfi Vasquez 2016-0152</p>
</div>

<div>
 <form asp-action="Create">
     <button class="btn btn-info">Imprimir</button>
 </form>
</div>
